
        body {
            height: 100vh;
            margin: 0;
            margin: 40px auto;
            max-width: 650px;
            line-height: 1.6;
            font-size: 18px;
            color: #444;
            padding: 0 10px;
            /* Trick */
            display: flex;
            flex-direction: column;
        }

        h1,
        h2,
        h3 {
            line-height: 1.2
        }

        footer {
            margin-top: auto;
        }


        /* css flex Box (will support custom number of columns, depeding no the number of plants at the end)
        
        */
        .flex-container {
            display: flex;
            background-color: DodgerBlue;
        }

        .flex-container>div {
            background-color: #f1f1f1;
            margin: 10px;
            padding: 20px;
            font-size: 30px;
        }