fastapi==0.68.1
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
aiofiles>=0.7.0
Jinja2>=3.0.0,<3.0.2
uvicorn[standard]>=0.15,<0.16
requests>=2.26.0
websockets>=10.0.0,<10.0.1
Pillow>=8.4.0
starlette>=0.14.2
sqlalchemy>=1.4.32,<1.4.33
databases>=0.5.5,<0.5.6
aiosqlite>=0.17.0,<0.17.1
pydantic>=1.9.0,<1.9.1
python-multipart>=0.0.5,<0.0.6

# YOLOv5 requirements
# https://github.com/ultralytics/yolov5/blob/master/requirements.txt
# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1  # Google Colab version
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0
protobuf<=3.20.1  # https://github.com/ultralytics/yolov5/issues/8012
# Logging -------------------------------------
tensorboard>=2.4.1
# wandb

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Export --------------------------------------
# coremltools>=4.1  # CoreML export
# onnx>=1.9.0  # ONNX export
# onnx-simplifier>=0.3.6  # ONNX simplifier
# scikit-learn==0.19.2  # CoreML quantization
# tensorflow>=2.4.1  # TFLite export
# tensorflowjs>=3.9.0  # TF.js export
# openvino-dev  # OpenVINO export

# Extras --------------------------------------
ipython  # interactive notebook
psutil  # system utilization
thop  # FLOPs computation
# albumentations>=1.0.3
# pycocotools>=2.0  # COCO mAP
# roboflow