body {
    font-family: 'Roboto', sans-serif;
     margin: 40px auto;
     max-width: 850px;
     padding: 0 10px;
}

h1 {
    font-size: 6vh; 
}
h2 {
    font-size: 3vh;
}

h2 .flex_time {
    display: inline;
}


ul>li { /*Log Container */

    padding-top: 10px !important;
    padding-bottom: 10px !important;
    
}

.flex_container_main_Pot {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start */
    /* justify-content: center; */
    /* align-items: center; */
}

.detected-image {
    width: 100%;
    max-width: 350px;
    margin: 10px;
    height: auto;
}

.flex_container_pots {
    display: flex;
    background-color: burlywood;
}

.flex_container_pots>div {
    background-color: #f1f1f1;
    margin: 3px;
    padding: 0px;
}

.flex_container_arrow {
    display: flex;
    flex-direction: row;
}

.flex_time {
    display: flex;
}

.flex_time>div {
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
}


img {
     object-fit: contain;
}

#laufzeitlabel {
    padding-left: 25px;
}

#tabLogsLabel {
    font-size: small;
}

#tabImagesLabel {
    font-size: small;

}
.first_detected_image {
    visibility: hidden;
}
.plant_card {
    margin-bottom: 60px;
}