body {

    margin: 40px auto;
    max-width: 750px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    /* Trick */
    display: flex;
    flex-direction: column;
}

h1 {

    font-size: 8vh;
}

h2 {
    font-size: 4vh;
}


ul>li {
    /* css styles go here */
    list-style-type: circle;
    list-style-position: inside;
    font-family: Consolas, monaco, monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.flex_container_main_Pot {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start */
    /* justify-content: center; */
    /* align-items: center; */
}

#detected-image {
    max-width: 100%;
    height: auto;
    /* align-self: flex-start */
}


/* css flex Box (will support custom number of columns, depending no the number of plants at the end)

*/
.flex_container_pots {
    display: flex;
    background-color: burlywood;
}

.flex_container_pots>div {
    background-color: #f1f1f1;
    margin: 3px;
    padding: 0px;
}

.flex_container_arrow {
    display: flex;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

footer {
    margin-top: auto;
}