.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 20px;
    margin: 20px;
    background: #41e537;
}

.mytabs .tab {
    width: 100%;
    padding: 10px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 2em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:not(:checked) + label {
    background: #fff;
}

.mytabs input[type="radio"] + label {
        border:1px solid black;
}
.label {
    font-size: 10px;
}
