<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="static/css/w3.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/tabs.css">
    <link rel="stylesheet" href="static/css/progressbar.css">
    <script src="static/progressbar.js" defer></script>
    <script type="text/javascript" src="static/dayjs.min.js"></script>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">


    <title>Rover</title>
</head>

<header>
    <div class="w3-container">
        <h1 style="text-align:center !important;"><a href="index.html"></a>Garteroboterli</h1>
        <h1 style="text-align:center !important;"><a href="index.html"></a>Gruppe 38</h1>
    </div>
</header>

<body>

<div class="container">

    <div id="bar" class="progress-bar flex-item">
        <div class="progress__fill"></div>
        <span class="progress__text__right">0%</span>
        <span class="progress__text__left"></span>
    </div>

    <div class="flex-item">
        <h2 id="laufzeitlabel" style="display: inline !important;">Laufzeit: </h2>
        <h2 id="timer" style="display: inline !important;">{{ time }}</h2>
        <h2 id="position_zielbereich"></h2>

    </div>

    <div class="tab-wrapper flex-item">

        <div class="mytabs">
            <input type="radio" id="tablogs" name="mytabs">
            <label for="tablogs" id="tabLogsLabel">Logs</label>
            <div class="tab">
                <div>
                    <ul class="w3-ul w3-card-4 w3-margin-bottom w3-margin-top w3-padding-16" id="messages">
                        {% for item in Log %}
                        <li>{{ item.content }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <script>
                    let timerInterval;

                    window.onload = updateTime;

                    async function updateTime() {

                        async function time_check() {
                            let response = await fetch('/api/time');


                            if (response.status === 200) {
                                let data = await response.text();
                                console.log(data)
                                if (!data.includes("not-initialized")) {
                                    let timeAsJson = JSON.parse(data)
                                    let description = timeAsJson.description
                                    let time = timeAsJson.time
                                    if (time.includes("startTime=")) {
                                       // console.log("startTime")
                                        extractTime(time);
                                    }
                                    if (time.includes("stopTime")) {
                                       // console.log("stopTime")
                                        stopTimer()
                                    }
                                }
                            }
                        }

                        const check_for_new_images = setInterval(function () {
                            // first fetch number of imags in db
                            const url = '/number_of_images'
                            let images_count;
                            fetch(url, {method: 'GET'})
                                .then(res => res.json())
                                .then(data => images_count = data["num"])
                                .then(() => isUpdateAvailable(images_count))

                            // if the number of images displayed in html is less than the number of images in db
                            // => update
                            function isUpdateAvailable(count) {
                                let plants_on_client = getNextPlantID()
                                if (count > plants_on_client) {
                                    updateImages(plants_on_client, count)
                                }
                            }

                            // could be async / more optimal
                            function updateImages(plants_on_client, max_count) {
                                for (let i = plants_on_client; i < max_count; i++) {

                                    const imageUrl = `/static/img/plant${i}.jpg/`
                                    fetch(imageUrl)
                                        .then(response => response.blob())
                                        .then(imageBlob => {
                                            document.getElementById(`detected-image${i}`).src = URL.createObjectURL(imageBlob)
                                        });

                                    const identificationUrl = `/api/plantnames/${i}`
                                    fetch(identificationUrl)
                                        .then(res => res.json())
                                        .then(plantnames => {

                                            let common = plantnames["common_name"];
                                            let scientific = plantnames["scientific_name"];
                                            let display_common_name = `Gemeiner Name: ${common}`;
                                            let display_scientific_name = `Wissenschaftlicher Name: ${scientific}`;

                                            if (common.length === 0) {
                                                display_common_name = ""
                                            }
                                            if (scientific.length === 0) {
                                                display_scientific_name = ""
                                            }

                                            document.getElementById(`common_name_ID${i}`).innerHTML = display_common_name;
                                            document.getElementById(`scientific_name_ID${i}`).innerHTML = display_scientific_name;

                                        })
                                }


                            }
                        }, 5000);


                        const check_plant_in_row = window.setInterval(checkPosition, 5000)
                        const check_time = window.setInterval(time_check, 1000);

                        async function checkPosition() {
                            let response = await fetch('/position');
                            // console.log("await fetch('/position')" + response.status);

                            if (response.status === 200) {
                                let data = await response.text();
                                if (!data.includes("_")) {
                                    let posAsJson = JSON.parse(data)

                                    let pos = posAsJson.position
                                    // console.log(pos);
                                    if (!isNaN(pos)) {
                                        document.getElementById("position_zielbereich").innerText = `Die erkannte Pflanze befindet sich im Zielbereich an der ${pos}. Stelle`;
                                    } else {
                                       // console.error("not a number");
                                    }
                                }
                            }
                        }
                    }


                    let numberOfImagesCount = 0;  // counts the images which are generated by websocket
                    dayjs.locale('ch') // use locale globally
                    dayjs().locale('ch').format() // use locale in a specific instance

                    const client_id = Date.now();
                    const uri_for_local_testing = `ws://0.0.0.0:8000/ws/${client_id}`;
                    const uri = `wss://pren.garteroboter.li/ws/${client_id}`;
                    let ws;
                    let now;  // Used to Store the timestamp

                    if (!Boolean(location.hostname === "pren.garteroboter.li")) {
                        ws = new WebSocket(uri_for_local_testing);
                    } else {
                        ws = new WebSocket(uri);
                    }


                    function extractTime(data) {
                        let startTime = data;
                        startTime = startTime.replace('startTime=', '');
                       // console.log(startTime)
                        let numberTime = parseInt(startTime, 10);
                        let timeStamp = dayjs(numberTime)
                        // console.log("timeStamp = " + timeStamp)
                        if (isInvalidTimestamp(timeStamp)) {
                            // console.error("NAN detected. Invalid timestamp.")
                        } else {
                            startIntervalTimer(timeStamp)
                        }
                    }

                    function stopTimer() {
                        document.getElementById("laufzeitlabel").innerText = "Laufzeit Insgesamt:"
                        clearInterval(timerInterval)
                        updateProgressBar(100)
                    }

                    ws.onmessage = function (event) {
                        // console.log("ws.onmessage");
                        let data = event.data
                        // Binary data: depending on binaryType is being set either to Arraybuffer or Blob
                        if (data instanceof Blob) {
                            const url = URL.createObjectURL(data);
                            document.getElementById(`detected-image${getNextPlantID() + numberOfImagesCount}`).src = url;
                            numberOfImagesCount += 1;
                        } else if (typeof data === "string") {
                            if (data.includes("startTime=")) {
                                extractTime(data);
                            } else if (data.includes("stopTime")) {
                                stopTimer()
                            } else { //  append to logbook
                                appendMessageToLogBook(data)
                            }

                        }
                    };


                    function isInvalidTimestamp(time) {
                        return isNaN(time)
                    }

                    function startIntervalTimer(time) {
                        timerInterval = setInterval(function () {
                            let now = dayjs()
                            let diff = now.diff(time);
                            if (fourMinutesHavePassed(diff)) {
                                clearInterval(timerInterval);
                                updateProgressBar(100);
                            }
                            let only_seconds = now.diff(time, 'second');
                            console.log(only_seconds)
                            sync_progress_bar_with_timer(only_seconds)
                            let minutes_and_seconds = millisToMinutesAndSeconds(diff);
                            document.getElementById("timer").innerHTML = minutes_and_seconds
                        }, 1000);
                    }


                    function appendMessageToLogBook(data) {
                        let messages = document.getElementById('messages')
                        let message = document.createElement('li')
                        let content = document.createTextNode(data)
                        message.appendChild(content)
                        messages.appendChild(message)
                    }

                    function fourMinutesHavePassed(difference) {
                        return difference === 240000;
                    }

                    function millisToMinutesAndSeconds(millis) {
                        let minutes = Math.floor(millis / 60000);
                        let seconds = ((millis % 60000) / 1000).toFixed(0);
                        return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
                    }

                    function getNextPlantID() {
                        let plants = document.querySelectorAll('[id^="detected-image"]');
                        let static_plants = Object.values(plants).filter(el => {
                            return el.src.includes("plant");
                        })
                        return static_plants.length;
                    }

                    // value is 1 to 100
                    function updateProgressBar(value) {
                         let progressBar = document.getElementsByClassName("progress-bar")[0]
                        value = Math.round(value)
                        progressBar.querySelector(".progress__fill").style.width = `${value}%`
                        progressBar.querySelector(".progress__text__right").textContent = `${value}%`
                    }

                    // do a  linear transform
                    function map(number, inMin, inMax, outMin, outMax) {
                        return (number - inMin) * (outMax - outMin) / (inMax - inMin) + outMin;
                    }

                    function sync_progress_bar_with_timer(value_in_seconds) {
                       // console.log(`value_in_seconds = ${value_in_seconds}`)
                        let actualValue = map(value_in_seconds, 0, 85, 0, 90);
                       if (actualValue > 90) {
                           actualValue = 90;
                       }
                        updateProgressBar(actualValue)
                    }
                </script>
            </div>

            <input type="radio" id="tabimages" name="mytabs" checked="checked">
            <label for="tabimages" id="tabImagesLabel">Bilder</label>
            <div class="tab">

                <div>

                    <h2> Erkannte Pflanze </h2>
                    <!-- Loops over the plants are stored in db -->
                    {% for plant in plants if plant.absolute_path%}
                    {% set count = loop.index0 %}
                    {% set image_file_name = "../static/img/plant" ~ count ~ ".jpg" %}
                    {% set ID = "detected-image" ~ count %}
                    {% set common_name_ID = "common_name_ID" ~ count %}
                    {% set scientific_name_ID = "scientific_name_ID" ~ count %}

                    {% if "" == plant.common_name %}
                    {% set common_n = plant.common_name %}
                    {% else %}
                    {% set common_n = "Gemeiner Name: " ~ plant.common_name %}
                    {% endif %}

                    {% if "" == plant.scientific_name %}
                    {% set scientific_n = plant.scientific_name %}
                    {% else %}
                    {% set scientific_n = "Wissenschaftlicher Name: " ~ plant.scientific_name %}
                    {% endif %}

                    {% if count == 1 %}
                    <h2> Weitere Pflanzen </h2>

                    {% endif %}

                    <div class="plant_card">
                        <img src="{{ image_file_name }}" alt="" class="w3-image flex_container_main_Pot detected-image"
                             id="{{ ID }}">
                        <h3 id="{{ common_name_ID }}">{{ common_n }}</h3>
                        <h3 id="{{ scientific_name_ID }}">{{ scientific_n }}</h3>

                    </div>
                    {% endfor %}


                    <!-- All the plants starting here weill be dynamically added by vanilla javascript -->
                    {% for i in range(images_for_future) %}
                    {% set count = i + numer_of_images %}
                    {% set ID_future = "detected-image" ~ count %}
                    {% set common_name_ID_future = "common_name_ID" ~ count %}
                    {% set scientific_name_ID_future = "scientific_name_ID" ~ count %}
                    <div class="plant_card">
                        <img src="" alt="" class="w3-image flex_container_main_Pot detected-image" id="{{ ID_future }}">
                        <h3 id="{{ common_name_ID_future }}"></h3>
                        <h3 id="{{ scientific_name_ID_future }}"></h3>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
