<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <!-- link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" -->
    <link rel="stylesheet" href="static/css/w3.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script type="text/javascript" src="static/dayjs.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">


    <title>Rover</title>
</head>

<header>
    <div class="w3-container">
        <h1 style="text-align:center !important;"><a href="index.html"></a >Garteroboterli</h1>
    </div>
</header>


    <div class="w3-container">
        <h2 style="display: inline !important;">Timer  </h2>
        <h2 style="display: inline !important;">0:00</h2>
    </div>


<div class="w3-container">
    <div class="w3-container">
        <h2 style="text-align:center;"> Real-time Logbuch</h2>
    </div>

    <ul class="w3-ul w3-card-4 w3-margin-bottom w3-margin-top w3-padding-16 " id="messages">
        {% for item in Incoming_Logs%}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
    <script>
        var client_id = Date.now()
        var uri_for_local_testing = `ws://0.0.0.0:80/ws/${client_id}`
        var uri = `ws://pren.garteroboter.li:80/ws/${client_id}`
        var ws;
        var now;  // Used to Store the timestamp

        if (location.hostname === "localhost" || location.hostname === "127.0.0.1") {
            ws = new WebSocket(uri_for_local_testing);
        } else {
            ws = new WebSocket(uri);
        }


        ws.onmessage = function (event) {
            let data = event.data
            // Binary data: depending on binaryType being set to either arraybuffer or blob
            if (data instanceof Blob) {
                console.log("blob ")
            } else if (data instanceof ArrayBuffer) {
                console.log("ArrayBuffer")
            } else if (typeof data === "string") {
                console.log("string data")

                if (data.includes("startTime=")) { //  start the timer based on the provided start time
                    let startTime = data;
                    let hours = "00:"; // this will not change
                    startTime = startTime.replace('startTime=', '');
                    startTime = startTime.replace(' ', 'T');
                    startTime = startTime.substring(0, startTime.length - 4);
                    console.log("startime = " + startTime)
                    let timeStamp = dayjs(startTime).valueOf();
                    // console.log("timeStamp = " + timeStamp);
                    let now2 = dayjs();
                    // console.log("now = " + now2); // in millis

                    var timer = setInterval(function () {
                        // there has to be an easier way to do this
                        // with dayjs.extend(window.dayjs_plugin_relativeTime) and a custom format for .from()


                        let now = dayjs()
                        let diff = now.diff(timeStamp);
                        diff = Math.abs(diff);

                        let minutes_and_seconds = millisToMinutesAndSeconds(diff);
                        console.log(minutes_and_seconds)
                        document.getElementById("timer").innerHTML = millisToMinutesAndSeconds(diff)
                        /*
                        document.getElementById("hours").innerHTML = hours
                        document.getElementById("mins").innerHTML = arr[0] + ":";
                        document.getElementById("secs").innerHTML = arr[1] + ":"

                         */
                    }, 1000);


                } else { //  append to logbook
                    let messages = document.getElementById('messages')
                    let message = document.createElement('li')
                    let content = document.createTextNode(data)
                    message.appendChild(content)
                    messages.appendChild(message)
                }
            }
        };

        // simple vanilla js timer
        function startTimer() {
            setInterval(() => {
                now = new Date(now.getTime() + 1000);
                console.log(now)
            }, 1000);
        }


        function millisToMinutesAndSeconds(millis) {
            var minutes = Math.floor(millis / 60000);
            var seconds = ((millis % 60000) / 1000).toFixed(0);
            return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
        }

    </script>


    <!-- w3.CSS buffering Symbol -->
    <!-- <p><i class="fa fa-spinner w3-spin" style="font-size:64px"></i></p> -->
    <!-- test -->

    <div class="flex_container_main_Pot">
        <div class="w3-container w3-card-4">
            <img src="../static/img/minze-im-topf.jpg" alt="Pfefferminze" class="w3-image flex_container_main_Pot"
                 id="detected-image">
        </div>
        <div class="w3-container w3-card-4">
            <h2 style="text-align:center;"> Pfefferminze</h2> <!-- Hier ein Symbol bild einfügen, -->
        </div>
    </div>

    <script>/* ...
    <div class="w3-container">
        <p>Reihen-Position: </p>
    </div>


    <div class="flex_container_pots">
        <div class="w3-container">
            <img class="w3-image" src="../static/img/plant-icons/plant1.png" alt="">
        </div>
        <div class="w3-container">
            <img class="w3-image" src="../static/img/plant-icons/plant2.png" alt="">
        </div>
        <div class="w3-container">
            <img class="w3-image" src="../static/img/plant-icons/plant3.png" alt="">
        </div>
        <div class="w3-container">
            <img class="w3-image" src="../static/img/plant-icons/plant4.png" alt="">
        </div>
        <div class="w3-container">
            <img class="w3-image" src="../static/img/plant-icons/plant5.png" alt="">
        </div>
    </div>

    <br>


    <div class="flex_container_arrow">
        <div class="w3-container">
            <img class="w3-image" src="../static/img/arrow_transparent.png" alt="">
        </div>
    </div>

*/</script>
</div>

</body>


<footer>
    <div class="footer-container">
        <div class="footer-center">
            <p> HSLU HS2021 - PREN 1 & 2 Gruppe 38 Copyright &copy;</p>
        </div>
    </div>
</footer>
</html>