<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="static/css/w3.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/tabs.css">
    <link rel="stylesheet" href="static/css/progressbar.css">
    <script src="static/progressbar.js" defer></script>
    <script type="text/javascript" src="static/dayjs.min.js"></script>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">


    <title>Rover</title>
</head>

<header>
    <div class="w3-container">
        <h1 style="text-align:center !important;"><a href="index.html"></a>Garteroboterli</h1>
        <h1 style="text-align:center !important;"><a href="index.html"></a>Gruppe 38</h1>
    </div>
</header>

<body>

<div class="container">

    <div class="progress-bar flex-item">
        <div class="progress__fill"></div>
        <span class="progress__text__right">0%</span>
        <span class="progress__text__left">Standby</span>
    </div>

    <div class=flex-item">
        <h2 id="laufzeitlabel" style="display: inline !important;">Laufzeit: </h2>
        <h2 id="timer" style="display: inline !important;">{{ time }}</h2>
    </div>

    <div class="tab-wrapper flex-item">

        <div class="mytabs">
            <input type="radio" id="tablogs" name="mytabs">
            <label for="tablogs" id="tabLogsLabel">Logs</label>
            <div class="tab">
                <div >
                    <ul class="w3-ul w3-card-4 w3-margin-bottom w3-margin-top w3-padding-16 " id="messages">
                        {% for item in Log %}
                        <li>{{ item.content }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <script>
                    let timerInterval;

                    window.onload = updateTime;

                    async function updateTime() {
                        let response = await fetch('/api/time');

                        console.log(" await fetch('/api/time')" + response.status); // 200

                        if (response.status === 200) {
                            let data = await response.text();
                            if (!data.includes("not-initialized")) {
                                let timeAsJson = JSON.parse(data)
                                let time = timeAsJson.time
                                if (time.includes("startTime=")) {
                                    extractTime(time);
                                }
                                if (time.includes("stopTime")) {
                                    stopTimer()
                                }
                            }
                        }
                    }

                    let numberOfImagesCount = 0;  // counts the images which are generated by websocket
                    dayjs.locale('ch') // use locale globally
                    dayjs().locale('ch').format() // use locale in a specific instance

                    const client_id = Date.now();
                    const uri_for_local_testing = `ws://0.0.0.0:8000/ws/${client_id}`;
                    const uri = `wss://pren.garteroboter.li/ws/${client_id}`;
                    let ws;
                    let now;  // Used to Store the timestamp

                    if (!Boolean(location.hostname === "pren.garteroboter.li")) {
                        ws = new WebSocket(uri_for_local_testing);
                        console.log("using local hostname");
                    } else {
                        ws = new WebSocket(uri);
                        console.log(`using ${location.hostname} for hostname`);
                        console.log(location.hostname)
                    }


                    function extractTime(data) {
                        let startTime = data;
                        startTime = startTime.replace('startTime=', '');
                        console.log(startTime)
                        let numberTime = parseInt(startTime, 10);
                        let timeStamp = dayjs(numberTime)
                        console.log("timeStamp = " + timeStamp)
                        if (isInvalidTimestamp(timeStamp)) {
                            console.error("NAN detected. Invalid timestamp.")
                        } else {
                            startIntervalTimer(timeStamp)
                        }
                    }

                    function stopTimer() {
                        clearInterval(timerInterval)
                    }

                    ws.onmessage = function (event) {
                        console.log("ws.onmessage");
                        let data = event.data
                        // Binary data: depending on binaryType is being set either to Arraybuffer or Blob
                        if (data instanceof Blob) {
                            console.log("blob")
                            const url = URL.createObjectURL(data);
                            document.getElementById(`detected-image${getNextPlantID() + numberOfImagesCount}`).src = url;
                            numberOfImagesCount += 1;
                            console.log("Next plant ID = " + getNextPlantID() + numberOfImagesCount);
                        } else if (typeof data === "string") {
                            if (data.includes("species")) {
                                console.log(data)
                            }

                            if (data.includes("startTime=")) {  // TODO: rounding up and down on millliseconds
                                extractTime(data);
                            } else if (data.includes("stopTime")) {
                                stopTimer()
                            } else { //  append to logbook
                                appendMessageToLogBook(data)
                            }

                        }
                    };


                    function isInvalidTimestamp(time) {
                        return isNaN(time)
                    }

                    function startIntervalTimer(time) {
                         timerInterval = setInterval(function () {
                            let now = dayjs()
                            let diff = now.diff(time);
                            if (fourMinutesHavePassed(diff)) {
                                clearInterval(timerInterval);
                            }
                            let minutes_and_seconds = millisToMinutesAndSeconds(diff);
                            console.log(minutes_and_seconds)
                            document.getElementById("timer").innerHTML = minutes_and_seconds
                        }, 1000);
                    }



                    function appendMessageToLogBook(data) {
                        let messages = document.getElementById('messages')
                        let message = document.createElement('li')
                        let content = document.createTextNode(data)
                        message.appendChild(content)
                        messages.appendChild(message)
                    }

                    function fourMinutesHavePassed(difference) {
                        return difference === 240000;
                    }

                    function millisToMinutesAndSeconds(millis) {
                        let minutes = Math.floor(millis / 60000);
                        let seconds = ((millis % 60000) / 1000).toFixed(0);
                        return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
                    }

                    function getNextPlantID() {
                        let plants = document.querySelectorAll('[id^="detected-image"]');
                        let static_plants = Object.values(plants).filter(el => {
                            return el.src.includes("plant");
                        })
                        return static_plants.length;
                    }
                </script>
            </div>

            <input type="radio" id="tabimages" name="mytabs" checked="checked">
            <label for="tabimages" id="tabImagesLabel">Bilder</label>
            <div class="tab">

                <div class="flex_container_main_Pot">
                    {% for i in range(numer_of_images) %}
                    {% set count = i %}
                    {% set image_file_name = "../static/img/plant" ~ count ~ ".jpg" %}
                    {% set ID = "detected-image" ~ count %}
                    <div class="w3-card-4">
                        <img src="{{ image_file_name }}" alt="" class="w3-image flex_container_main_Pot detected-image"
                             id="{{ ID }}">
                    </div>
                    {% endfor %}

                    <!-- All the plants starting here can be dynamically added through websockets -->
                    {% for i in range(images_for_future) %}
                    {% set count = i + numer_of_images %}
                    {% set ID_future = "detected-image" ~ count %}
                    <div class="w3-card-4">
                        <img src="" alt="" class="w3-image flex_container_main_Pot detected-image" id="{{ ID_future }}">
                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>

</div>

</body>


</html>
